$lc: hsl(193, 38%, 86%); // Light cyan
$ng: hsl(150, 100%, 66%); // Neon green
$gb: hsl(217, 19%, 38%); // Grayish blue
$dgb:hsl(217, 19%, 24%); // Dark grayish blue
$db: hsl(218, 23%, 16%); // Dark blue
*{
  box-sizing:border-box;
  font-family: 'Manrope', sans-serif;
}
.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color:$db;
  .card{
    background-color:$dgb;
    text-align:center;
    max-width:540px;
    border-radius:10px;
    padding:30px;
    padding-bottom:60px;
    position:relative;
    h3{
      color:$ng;
      text-transform:uppercase;
      letter-spacing:4px;
      font-size:14px;
      margin-bottom:25px;
    }
    q{
      color:$lc;
      line-height:1.4;
      text-indent:5px;
      font-size:28px;
      display:block;
      margin-bottom:40px;
    }
    button{
      border-radius:50%;
      position:absolute;
      background-color:$ng; 
      border:none;
      padding:15px;
      left: 0;
      right: 0;
      display: flex;
      margin: auto;
      width: 60px;
      height: 60px;
      bottom:-30px;
      justify-content: center;
      align-items: center;
      cursor:pointer;
      transition:box-shadow 150ms ease-in-out;
      &:hover{
        box-shadow: 0px 0px 32px $ng;
      }
    }
  }
}

