$lc: hsl(193, 38%, 86%); // Light cyan
$ng: hsl(150, 100%, 66%); // Neon green
$gb: hsl(217, 19%, 38%); // Grayish blue
$dgb:hsl(217, 19%, 24%); // Dark grayish blue
$db: hsl(218, 23%, 16%); // Dark blue
*{
  box-sizing:border-box;
  font-family: 'Manrope', sans-serif;
}
